h1 {
    font-size: 1.5rem;
  }

.section-heading p {
    font-weight: 400;
    font-size: 0.8rem;
    color: #795548;
}

.article-container {
  max-width: 850px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  line-height: 30px
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

code.language-yaml.hljs {
  line-height: 20px
}

pre, code {
  font-family: "Cutive Mono", monospace;
  color: #c7254e;
  background-color: inherit;
}

a:hover, a:focus {
  color: #c7254e;
}
